body
{
  color: #2C2C2C;
  background-color: #e0e0e0;
}

body, input, select, button
{
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 14pt;
  line-height: 18px;
}

h1
{
  font-size: 18pt;
  line-height: 22px;
  color: #000000;
  margin: 0px 0px 4px 0px;
  padding-left: 2px;
}

h2
{
  font-size: 18pt;
  line-height: 22px;
  color: #000000;
  margin: 0px 0px 0px 0px;
  padding-left: 2px;
}

table.bordered
{
  border: solid 1px;
  border-spacing: 2px;
  border-collapse: collapse;
  width: 100%;
}

table.bordered td
{
  font-size: 16pt;
  border-width: 2px;
  padding: 2px 4px 2px 4px;
  vertical-align: middle;
}

table.bordered td.center
{
  font-size: 16pt;
  border-width: 2px;
  padding: 2px 4px 2px 4px;
  vertical-align: middle;
  text-align: center;
}

table.bordered td.title
{
  font-weight: bold;
  font-size: 16pt;
  line-height: 22px;
  color: #eeeeee;
  padding: 2px 4px 2px 4px;
  background-color: #303030;
  text-align: center;
  border: solid 1px black;
}

h3
{
  font-size: 9pt;
  line-height: 16px;
  color: #000000;
  margin: 0px 0px 0px 0px;
  padding-left: 2px;
}

p
{
  margin: 0px 0px 10px 0px;
}

ul
{
  margin: 0px 0px 10px 20px;
}

ol
{
  margin: 0px 0px 10px 24px;
}

li
{
  margin: 0px;
}

a:link
{
  color: #000000;
  text-decoration: underline;
}

a:visited
{
  color: #404040;
  text-decoration: underline;
}

a:hover
{
  text-decoration: underline;
}

a:active
{
  text-decoration: underline;
}

table
{
  border-width: 0px;
}

table td
{
  font-size: 9pt;
  border-width: 0px;
  vertical-align: top;  
  background-color: white;
  border: dashed 1px #bbbbbb;
}

td.key
{
  background-color: white;
}

img.icon
{
  height: 32px;
  width: 32px;
}

div.code
{
  border: 2px dashed;
  padding: 0.5em;
  width: 99%;
  background-color: white;
  font-family: courier;
}
